/* Reset and global styles */
body {
  background-image: linear-gradient(#000 1%, #1e0f1d 60%, #000 100%);
  margin: 0;
  font-family: 'Garamond', serif;
  color: #c8b8b8;
}

/* Typography */
.text-large {
  font-size: 5rem;
}

.text-normal {
  font-size: max(1.3vw, 15px);
}

/* Layout */
.container {
  margin: auto;
  max-width: 70%;
}

.center-content {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.flex-row {
  display: flex;
}

.sticky-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
}

/* Navigation bar */
.navbar {
  overflow: hidden;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  color: #C6A1CF;
  padding: 20px;
}

.nav-link:hover {
  color: white;
}


@media screen and (min-width: 632px) {
  .navbar-content {
      justify-content: flex-end; 
  }
  .hide-responsive {
      display: none;
  }

  .nav-link {
      padding: 8px;
  }

  .navbar-content {
      justify-content: center; /* Center links */
  }
}

/* Specific components */
.profile-image {
  border-radius: 3%;
  overflow: hidden;
  width: max(50vh, 60vw);
  max-width: 80vw;
}

.gallery {
  --d: 25s; /* Animation duration */
  display: grid;
  grid-template-areas: "image";
  margin: 22.5vh auto;
  width: 55vh;
}

.gallery img {
  grid-area: image;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #c6a1cf;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
}

.main-content {
  padding-top: 60px; /* Adjust based on the height of your navbar */
}
