/* -----------  Generic Text + Containers ---------------- */

body {
    background-color: rgba(15, 16, 20, 1);
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #e0caca; 
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.text-large {
    font-size: 2rem; 
}

.text-medium {
    font-size: 1.2rem;
}

.text-small {
    font-size: 1rem;
}

.section-break {
    width:100%;
    fill: rgba(15, 16, 20, 1);
    margin-top: -3px;
}

.section-break2 {
    width:100%;
    fill: #e0caca;
    margin-top: -3px;
}

.theme2 {
    background-color: #e0caca;
    color: rgba(15, 16, 20, 1);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.wide-container {
    margin-left: auto;
    margin-right: auto;
    width: 85%
}

.center-content {
    display: flex;
    justify-content: center;
}

.full-width {
    width: 100%;
    margin: auto;
}

.sticky-top {
    position: fixed;
    top: 0;
    left: 0;
}

/* -----------  NavBar ---------------- */
.navbar {
    overflow: hidden;
    z-index: 20;
    width: 100%;
    background: rgba(15, 16, 20, 1); /* Semi-transparent background */
}

.nav-link {
    text-decoration: none;
    color: #e0caca; 
    font-family: "Garamond", sans-serif;
    text-align: center;
    padding: 20px;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.nav-link:hover, .selected-page {
    color: #C6A1CF;
    border-bottom: 1px ridge #C6A1CF ;
}

.medium-image {
    border-radius: 3%;
    overflow: hidden;
    width: 20rem;
    height: auto;
}

.content p, h3, ul {
    margin-block-start: 0.5rem;
}

.right-aligned {
    text-align: right;
}

.main-content {
    min-height: calc(95vh - calc(100vw / 10));
    padding-top: 60px; 
}

.spacing {
    line-height: 1.35rem;
}

.two-col-grid img {
    margin: 10px;
}

.two-col-grid-reversed img {
    margin: 10px;
}

.flex-content {
    display: flex;
    flex-direction: column;
}


.two-col-grid {
    width: fit-content;
    display: grid;
    grid-template-columns: 20rem 35rem;
    column-gap: 3rem;
    margin: auto;
    padding-bottom: 20px;
    align-items: center;
}

.two-col-grid-reversed {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 20px;
}

.left-grid {
    grid-column: 1;
    grid-row: 1;
}

.right-grid {
    grid-column: 2;
    grid-row: 1;
}

figure {
    margin:0;
}

.left-list {
    list-style-type: none; 
    padding: 0;
}

@media screen and (max-width: 1100px) {

    /* -------  Responsive for Education Page Grids -> Flex ------------- */
    .two-col-grid, .two-col-grid-reversed {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        justify-items: center;
        justify-content: center;
    }

    .two-col-grid div, .two-col-grid-reversed div {
        text-align: center;
    }

    .right-grid, .left-grid {
        grid-column: auto;
        grid-row: auto;
    }


    ul {
        list-style-type: none; 
        padding-inline-start: 0;
    }

    .text-large {
        font-size: 2.5rem; 
    }
    
    .text-medium {
        font-size: 1.1rem;
    }
    
    .text-small {
        font-size: 1rem;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 82.5%;
    }
}



@media screen and (min-width: 632px) {
    .navbar-content {
        justify-content: flex-end;
    }
    .show-responsive-medium {
        display:none;
    }
}

@media screen and (max-width: 632px) {
    .hide-responsive-medium {
        display:none;
    }
    .hide-responsive {
        display: none;
    }
    .nav-link {
        padding: 8px;
    }
    .navbar-content {
        justify-content: center;
    }
}