.skills-soft-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: start;
}

.icon-group-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
  align-items: center;
  }

.icon-group {
  display: grid;
  column-gap: 3rem;
  row-gap: 3rem;
}

.icon-group img {
  position: relative;
  height: 80px;
  width: 80px;
  transition: height, width, transform 0.3s ease;
}

.icon-group img:hover {
  height: 70px;
  width: 70px;
}

.icon-group img:hover::after {
  content: attr(data-label);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}

.icon-group img:hover::after {
  opacity: 1;
}

.tooltip {
  position: absolute;
  background-color: var(--link-color);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.tool-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: auto;
}

.language-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: auto;
}

.soft-skill {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.soft-skill img {
  height: 200px;
  width: 200px;
}

.soft-skill p {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .skills-soft-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
    margin: 0;
    justify-content: center;
    align-items: start;
  }

  .icon-group {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .language-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
  }

  .tool-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  .skills-soft-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    margin: auto;
    justify-content: center;
    align-items: start;
  }

  .language-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: auto;
  }

  .tool-grid {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
  }
}