.skills-soft-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: start;
}

.icon-group-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
  align-items: center;
  }

.icon-group {
  display: grid;
  column-gap: 3rem;
  row-gap: 3rem;
}

.icon-group img {
  height: 80px;
  width: 80px;
}

.tool-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: auto;
}

.language-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: auto;
}

.soft-skill {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.soft-skill img {
  height: 200px;
  width: 200px;
}

.soft-skill p {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .skills-soft-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
    margin: 0;
    justify-content: center;
    align-items: start;
  }

  .icon-group {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .language-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
  }

  .tool-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  .skills-soft-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    margin: auto;
    justify-content: center;
    align-items: start;
  }

  .language-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: auto;
  }

  .tool-grid {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
  }
}